// Breakpoints
$xs: 400px;
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//Typography
$font-heading: 'Titillium Web', sans-serif;
$font-body: 'Lato', sans-serif;
$line-height: 1.5;
$text-bold: 700;
$text-medium: 500;
$text-normal: 400;

//Colors
$color-primary: #50fa7b;
$color-secondary: #f1fa8c;
$color-accent1: #f8f8f2;
$color-accent2: #c9c6c0;
$color-accent3: #5d5c58;
$color-accent4: #44475a;
$color-dark: #282a36;
$color-info: #ff79c6;
$color-success: #00867f;
$color-warning: #fcbf0a;
$color-danger: #ff5555;
$color-gray1: #f0f0f0;
$color-gray2: #cccccc;
$color-black: #000000;
$color-white: #ffffff;
