// Breakpoints
$xs: 400px;
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//Typography
$font-heading: 'Poppins', Helvetica, Arial, sans-serif;
$font-body: 'Open sans', Helvetica, Arial, sans-serif;
$line-height: 1.5;
$text-bold: 700;
$text-medium: 500;
$text-normal: 400;

//Colors
$color-primary: #5d237d;
$color-secondary: #ebd6f2;
$color-accent1: #f5f3ee;
$color-accent2: #c9c6c0;
$color-accent3: #5d5c58;
$color-accent4: #c40064;
$color-dark: #333333;
$color-info: #006ebf;
$color-success: #00867f;
$color-warning: #fcbf0a;
$color-danger: #dd4a2c;
$color-gray1: #f0f0f0;
$color-gray2: #cccccc;
$color-black: #000000;
$color-white: #ffffff;
