@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';
@import './typi';
@import './sass-mq';
@import './helpers';
@import './typography';

body {
  width: 100%;
  background-color: $color-dark;
  color: $color-accent1;
}
